.icon {
  width: 16px;
  height: 16px;
  stroke-width: 2;
  display: flex;
}

:host ::ng-deep lucide-icon svg {
  width: 100%;
  height: 100%;
}

.muted {
  color: #ccc;
}

/* Table */
.table-wrapper {
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  overflow: hidden;
}

.table-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr 1fr;
  padding: 15px 20px;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  background: white;
  min-height: 60px;
}


.table-row.four-cols {
  grid-template-columns: 2.5fr 1fr 1fr 2fr;
}

.table-row:last-child {
  border-bottom: none;
}

.table-head {
  background: #fafafa;
  font-size: 13px;
  font-weight: 700;
  color: var(--text-muted);
}

.col-label {
  display: flex;
  align-items: center;
  gap: 2px;
}

.col-label i {
  margin-left: 5px;
  font-size: 12px;

}

.part-name {
  font-weight: 700;
  font-size: 15px;
}

.cell-data {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.muted {
  color: #ccc;
}

/* Action */
.reorder-btn {
height: auto;
  background: #f2f2f2;
  border: none;
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}

.reorder-btn:hover {
  background: #e0e0e0;
}
/* Responsive */
@media (max-width: 800px) {


  .table-row {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  /* .table-head {
    display: none;
  } */
}
