
.suppliers-section {
  margin: 0 0  0  auto ;
  padding: 40px 0;
  direction: rtl;
  max-width: 1265px;
}

.section-header {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
  color: var(--color-text-black);
}

.cards-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
  scrollbar-width: none;
}

.cards-container::-webkit-scrollbar {
  display: none;
}


.card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}


.navigation-controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.nav-btn {
  background-color: #e8e8e8;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 12px;
  cursor: pointer;
}

.section-header {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
}

.cards-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 20px;

  /* Snap Effect */
  scroll-snap-type: x mandatory;

  scrollbar-width: none;
}

.cards-container::-webkit-scrollbar {
  display: none;
}


lucide-icon {
  display: inline-flex;
}
