.product-card {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 15px;
  position: relative;
  transition: all 0.4s;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  height: 100%;
}
/* --- Hover State: Elevation & Depth --- */
.product-card:hover {
  transform: translateY(-5px);
  /*Keeptheyellowverysubtle*/border-color: var(--primary-500);
  box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.02),
      /* Sharp definition near the base */
      0 10px 20px -5px rgba(0, 0, 0, 0.05),
      /* Mid-level soft shadow */
      0 20px 25px -10px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.fav-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f4f4f4;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  z-index: 100;
  /* Smooth transition for background and transform */
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .fav-btn:hover svg{
  color: #ff4d4d;
  transform: scale(1.1);
}

/* Class to apply when favorited */
::ng-deep .isfavorite svg{
  color: #ff4d4d;
  fill: #ff4d4d;
  /* Red color for the icon */
}
.prod-img-box {
  background: #fdfbf0;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin-bottom: 15px;
  transition: transform 0.4s ease;
  height: 177px;
}
.prod-img-box img{
    width: 100%;
      height: 100%;
      object-fit: contain;
}

.product-card:hover .prod-img-box {
  transform: scale(1.03);
  /* Subtle zoom on the image box */
  background: #fffdeb;
  /* Slightly warmer on hover */
}

h3 {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: 800;
  font-size: 1.3rem;
}

.add-btn {
  background: var(--primary, #ffcc00);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
}
