.product-card {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
}

.fav-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f4f4f4;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.prod-img-box {
  background: #fdfbf0;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin-bottom: 15px;
}

h3 {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: 800;
  font-size: 1.3rem;
}

.add-btn {
  background: var(--primary, #ffcc00);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
}
