* {
  box-sizing: border-box;
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  padding: 20px;
  direction: rtl;
}

.modal-container {
  background: #fff;
  width: 100%;
  max-width: 700px;
  border-radius: 24px;
  overflow-y: auto;
  max-height: 90vh;
  padding: 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.modal-title {
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #0b132b;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  text-align: right;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #ffcc00;
}

/* Upload Area Styling */
.upload-area {
  border: 2px dashed #ccc;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  background-color: #fafafa;
  transition: background-color 0.3s;
}

.upload-area:hover {
  background-color: #f0f0f0;
}

.upload-content img {
  width: 40px;
  opacity: 0.5;
  margin-bottom: 10px;
}

.upload-content p {
  margin: 5px 0;
  color: #888;
  font-size: 14px;
}

.upload-content span {
  font-size: 12px;
  color: #bbb;
}

/* Buttons Styling */
.button-group {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.btn-submit {
  flex: 1;
  background-color: #ffdb00;
  /* Yellow */
  border: none;
  padding: 12px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: opacity 0.3s;
}

.btn-cancel {
  flex: 1;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 12px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  color: #333;
}

.btn-submit:hover,
.btn-cancel:hover {
  opacity: 0.9;
}





.error {
  color: #e53935;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

.preview-container {
  position: relative;
}

.preview-container img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: auto;
}
