<!-- Table Header -->
<div class="grid-row list-header">
  <div>المورد</div>
  <div class="header-icon">
    <lucide-icon [img]="wrenchIcon" size="16"></lucide-icon><span>تخصص المورد</span>
  </div>
  <div class="header-icon">
    <lucide-icon [img]="calendarIcon" size="16"></lucide-icon><span>التاريخ</span>
  </div>
  <div></div>
</div>

<!-- List -->
<div class="fav-list-box">
  @for (item of paginatedSuppliers; track item.id) {
    <div class="grid-row fav-item">
      <div class="supplier-info">
        <div class="supplier-img"></div>
        <span class="supplier-name">{{ item.supplierName }}</span>
      </div>

      <div class="specialization">{{ item.businessType }}</div>

      <div class="date-info">
        {{ item.addedAt | date: 'dd MMMM yyyy' }}
        <lucide-icon [img]="calendarIcon" size="16"></lucide-icon>
      </div>

      <div class="actions-col">
        <button class="profile-btn" (click)="navigateToSupplier(item.id)">الملف الشخصي</button>
        <button class="delete-btn" (click)="delete.emit(item.id)">
          <lucide-icon [img]="xIcon" size="18"></lucide-icon>
        </button>
      </div>
    </div>
  }
</div>
<!-- pagination  -->
@if (totalCount > 5) {
  <app-pagination
    [rowsPerPage]="rowsPerPage"
    [totalRecords]="totalCount"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
}
