<div class="table-toolbar">
  <div class="toolbar-right">
    <div class="search-box">
      <i class="fa fa-search"></i>
      <input
        #search
        type="text"
        placeholder="بحث في الشركات المصنعة..."
        (input)="filterManufacturers(search.value)"
      />
    </div>

    <div style="font-size: 13px; color: var(--text-muted); font-weight: 600">
      إجمالي: {{ filteredManufacturers.length }} عناصر
    </div>
  </div>

  <button class="add-btn" (click)="toggleAddModal()">
    <i class="fa fa-plus"></i>
    إضافة شركة مصنعة جديدة
  </button>
</div>

<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th width="100">المعرف</th>
        <th>اسم الشركة المصنعة</th>
        <th width="150">الإجراءات</th>
      </tr>
    </thead>

    <tbody>
      @for (manufacturer of filteredManufacturers; track manufacturer.id) {
        <tr>
          <td>
            <span class="id-badge">{{ $index + 1 }}</span>
          </td>

          <td style="font-weight: 600">
            {{ manufacturer.nameAr }}
          </td>

          <td class="actions">
            <button class="btn-action btn-edit" (click)="editManufacturer(manufacturer)">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>

            <button class="btn-action btn-delete" (click)="deleteManufacturer(manufacturer)">
              <i class="fa-regular fa-trash-can"></i>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

@if (openAddModalBool) {
  <app-add-edit-manufacturer
    [vehicleTypes]="vehicleTypes"
    (close)="toggleAddModal()"
    (submitManufacturer)="loadManufacturers()"
  ></app-add-edit-manufacturer>
}

@if (openEditModalBool) {
  <app-add-edit-manufacturer
    [vehicleTypes]="vehicleTypes"
    [mode]="'edit'"
    [manufacturer]="selectedEditManufacturer"
    (close)="toggleEditModal()"
    (submitManufacturer)="loadManufacturers()"
  ></app-add-edit-manufacturer>
}

@if (openDeleteModalBool) {
  <app-delete-modal (confirm)="confirmDelete()" (cancel)="toggledeleteModal()"></app-delete-modal>
}
