<div class="pending-requests-section">
  <header class="dashboard-header">
    <div class="title-wrapper">
      <h1 class="main-title">طلبات التوثيق المعلقة</h1>
      <span class="count-badge">{{ pagination?.totalItems ?? 0 }}</span>
    </div>
    <p class="description">مراجعة وثائق الموردين والموافقة أو رفض طلبات التوثيق</p>
  </header>

  <div class="table-responsive">
    <table class="verification-table">
      <thead>
        <tr>
          <th>اسم المورد</th>
          <th>اسم المالك</th>
          <th>المدينة</th>
          <th>تاريخ الطلب</th>
          <th>عرض الوثائق</th>
          <!-- <th>الإجراءات</th> -->
        </tr>
      </thead>
      <tbody>
        @if (suppliers.length > 0) {
          @for (supplier of suppliers; track supplier.id) {
            <tr>
              <td class="vendor-bold">{{ supplier.businessNameAr }}</td>
              <td>{{ supplier.fullName }}</td>
              <td>{{ supplier.city }}</td>
              <td class="date-text">{{ supplier.createdAt | date: 'short' }}</td>
              <td>
                <button class="btn-navy-outline" (click)="selectSupplier(supplier.id)">
                  <span>عرض الوثائق</span>
                  <i class="doc-icon"></i>
                </button>
              </td>
              <!-- <td>
              <div class="action-group">
                <button class="btn-status-success">قبول</button>
                <button class="btn-status-error">رفض</button>
              </div>
            </td> -->
            </tr>
          }
        } @else {
          <tr>
            <td colspan="5">لا توجد طلبات للتوثيق</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
@if (suppliers.length > 0) {
  <app-pagination
    [totalRecords]="pagination?.totalItems ?? 0"
    [rowsPerPage]="pageSize"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
}
@if (openModalBool) {
  <app-verify-docs
    [supplierId]="selectedSupplierId"
    (accepted)="accepted()"
    (close)="toggleModal()"
  ></app-verify-docs>
}
