.feature-banner {
  padding: 40px 0;
  direction: rtl;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.banner-card {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
  gap: 40px;
}

/* Image / Icon */
.banner-image {
  flex: 1;
  display: flex;
  justify-content: center;

}
.banner-image img {
  max-width: 180px;
}

.placeholder-icon {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

    .placeholder-icon svg {
    width: 100%;
  }

/* Text */
.banner-content {
  flex: 1.5;
  color: #ffffff;
  text-align: right;

}
h2 {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 15px;
  line-height: 1.3;
}

p {
  font-size: 1.1rem;
  opacity: 0.9;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 768px) {
  .banner-card {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .banner-content {
    text-align: center;

    h2 {
      font-size: 1.6rem;
    }
  }

  .placeholder-icon {
    width: 100px;
    height: 100px;
  }
}
