#map-container{
  width: 100%;
  height: 500px;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 15px;
}
.select-location-btn {
    position: absolute;
      top: 20px;
      left: 20px;
      z-index: 10;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: var(--primary-500);
  color: var(--text-dark);
  font-weight: 600;
  cursor: pointer;
}

.select-location-btn:hover {
  background: var(--primary-600);
}
.container{
  position: relative;
}
