<div class="table-toolbar">
  <div class="toolbar-right">
    <div class="search-box">
      <i class="fa fa-search"></i>
      <input
        #search
        type="text"
        placeholder="بحث في حالات الضمان..."
        (input)="filterWarranties(search.value)"
      />
    </div>

    <div style="font-size: 13px; color: var(--text-muted); font-weight: 600">
      إجمالي: {{ filteredWarranties.length }} عناصر
    </div>
  </div>

  <button class="add-btn" (click)="toggleAddModal()">
    <i class="fa fa-plus"></i>
    إضافة حالة ضمان جديدة
  </button>
</div>

<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th width="100">المعرف</th>
        <th>اسم حالة الضمان</th>
        <th width="150">الإجراءات</th>
      </tr>
    </thead>

    <tbody>
      @for (warranty of filteredWarranties; track warranty.id) {
        <tr>
          <td>
            <span class="id-badge">{{ $index + 1 }}</span>
          </td>

          <td style="font-weight: 600">
            {{ warranty.nameAr }}
          </td>

          <td class="actions">
            <button class="btn-action btn-edit" (click)="editWarranty(warranty)">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>

            <button class="btn-action btn-delete" (click)="deleteWarranty(warranty)">
              <i class="fa-regular fa-trash-can"></i>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

@if (openAddModalBool) {
  <app-add-edit-warranty
    (close)="toggleAddModal()"
    (submitWarranty)="loadWarranties()"
  ></app-add-edit-warranty>
}

@if (openEditModalBool) {
  <app-add-edit-warranty
    [mode]="'edit'"
    [Warranty]="selectedEditWarranty"
    (close)="toggleEditModal()"
    (submitWarranty)="loadWarranties()"
  ></app-add-edit-warranty>
}

@if (openDeleteModalBool) {
  <app-delete-modal (confirm)="confirmDelete()" (cancel)="toggleDeleteModal()"></app-delete-modal>
}
