/* Labels */
.labels-row {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 0.5fr;
  padding: 10px 25px;
  color: var(--text-muted);
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}

/* Box */
.fav-box {
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
}

/* Items */
.fav-item {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  padding: 20px 25px;
  border-bottom: 1px solid var(--border-color);
  text-align: center;
}

.fav-item:last-child {
  border-bottom: none;
}

/* Columns */
.part-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.part-thumb {
  width: 45px;
  height: 45px;
  background: #e0e0e0;
  border-radius: 8px;
}

.part-name {
  font-weight: 800;
  font-size: 15px;
}

.btn-details {
  background: #f2f2f2;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}

.delete-icon {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.date-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
}

.header-icon {
  display: flex;
  justify-content: center;
  gap: 5px;
}
@media (max-width: 850px) {
  .labels-row {
    display: none;
  }

  .fav-item {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
