<!-- Labels -->
<div class="labels-row">
  <div class="text-right">القطعة</div>
  <div class="header-icon">
    <lucide-icon [img]="wrenchIcon" size="16"></lucide-icon>
    <span>نوع القطعة</span>
  </div>

  <div class="header-icon">
    <lucide-icon [img]="boxIcon" size="16"></lucide-icon>
    <span>الكمية</span>
  </div>

  <div class="header-icon">
    <lucide-icon [img]="calendarIcon" size="16"></lucide-icon>
    <span>التاريخ</span>
  </div>

  <div></div>
  <div></div>
</div>

<!-- List -->
<div class="fav-box">
  @for (part of paginatedParts; track part.id) {
    <div class="fav-item">
      <div class="part-info">
        <div class="part-thumb"></div>
        <span class="part-name">{{ part.partName }}</span>
      </div>

      <div>{{ part.categoryName }}</div>

      <div>{{ part.quantity }}</div>

      <div class="date-cell">
        <lucide-icon [img]="calendarIcon" size="16"></lucide-icon>
        {{ part.addedAt | date: 'dd MMMM yyyy' }}
      </div>

      <button class="btn-details" (click)="navigateToPartDetails(part.partId)">
        تفاصيل القطعة
      </button>

      <button class="delete-icon" (click)="delete.emit(part.id)">
        <lucide-icon [img]="xIcon" size="18"></lucide-icon>
      </button>
    </div>
  }
</div>
<!-- pagination  -->
@if (totalCount > 5) {
  <app-pagination
    [rowsPerPage]="rowsPerPage"
    [totalRecords]="totalCount"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
}
