button{
  height: auto;
}
.orders-section {
  max-width: 1350px;
  margin: auto;
  background: var(--bg-white);
  padding: 20px;
  border-radius: var(--radius);
}

/* Header */
.orders-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.orders-title {
  font-size: 24px;
  font-weight: 800;
  margin-top: 0;
}

.icon {
  width: 16px;
  height: 16px;
  stroke-width: 2;
  display: flex;
}

:host ::ng-deep lucide-icon svg {
  width: 100%;
  height: 100%;
}
.muted {
  color: #ccc;
}
/* Search */
.search-wrapper {
  position: relative;
  width: 280px;
}

.search-wrapper input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  font-size: 14px;
  outline: none;
}

.search-wrapper lucide-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-muted);
}

/* Controls */
.controls-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 15px;
}

.tabs-group {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
}

.tab-btn {
  padding: 8px 20px;
  background: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.tab-btn.active {
  background-color: var(--light-yellow);
}

.tab-btn:first-child {
  border-left: 1px solid var(--border-color);
}

.filters-group {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.filter-select {
  padding: 8px 19px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  font-size: 13px;
  background: white;
  cursor: pointer;
}

.filter-label {
  font-size: 13px;
  color: var(--text-muted);
}

.reset-btn {
  height: fit-content;
  background-color: var(--primary-500);
  border: none;
  padding: 6px 18px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}



/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 25px;
}

.page-num {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.page-num.active {
  background: var(--primary-500);
  border-color: var(--primary-500);
}

.page-dots {
  padding: 0 5px;
  color: #ccc;
}

/* Responsive */
@media (max-width: 800px) {
  .orders-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .search-wrapper {
    width: 100%;
  }

  .table-row {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .table-head {
    display: none;
  }
}
