/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
:root {
  color-scheme: light !important;
  /* ================= PRIMARY ================= */
  --primary-50: #FFFBE5;
  --primary-100: #FFF1CC;
  --primary-200: #FFE699;
  --primary-300: #FFE066;
  --primary-400: #FFD033;
  --primary-500: #FFC502;
  --primary-600: #CCA400;
  --primary-700: #998000;
  --primary-800: #665300;
  --primary-900: #332800;
  --primary-950: #1A1500;

  /* ================= SECONDARY ================= */
  --secondary-50: #E7F3FC;
  --secondary-100: #D2E6F9;
  --secondary-200: #A5D3F7;
  --secondary-300: #79A9E4;
  --secondary-400: #4C96E0;
  --secondary-500: #0E3B65;
  --secondary-600: #19598B;
  --secondary-700: #174E86;
  --secondary-800: #102D5C;
  --secondary-900: #08142D;
  --secondary-950: #030016;

  /* ================= ERROR ================= */
  --error-50: #FEE7E7;
  --error-100: #FCD2DF;
  --error-200: #FAA6AE;
  --error-300: #F7777E;
  --error-400: #F4434E;
  --error-500: #F12415;
  --error-600: #C71008;
  --error-700: #910B08;
  --error-800: #600605;
  --error-900: #300300;
  --error-950: #130000;

  /* ================= SUCCESS ================= */
  --success-50: #E4FEEB;
  --success-100: #D0F5D7;
  --success-200: #ACECA6;
  --success-300: #82E286;
  --success-400: #50DE5E;
  --success-500: #34C039;
  --success-600: #20A028;
  --success-700: #1D7D20;
  --success-800: #0D5115;
  --success-900: #0A2D08;
  --success-950: #051505;

  /* ================= TEXT ================= */
  --color-text-primary: #2c2c2c;
  --color-text-secondary: #4d4d4d;
  --text-gray:#626262
  --text-light-gray: #666666;
  --text-lighter-gray: #999999;
  --border-gray: #e6e6e6;
  --color-text-black: #000000;
  --color-white: #ffffff;
  --bg-gray: #f2f2f2;
  --text-brown: #3d3112;
  --black-50:#F2F2F2;
  --black-100:#E6E6E6;
  --black-300:#B3B3B3;
  --black-600:#666666;
  /* ================= TYPOGRAPHY ================= */
  --font-family-base: 'Tajawal', sans-serif;

  --h1-size: 48px;
  --h2-size: 40px;
  --subheading-lg: 32px;
  --subheading-md: 28px;


  --body-lg: 20px;
  --body-md: 18px;
  --caption: 16px;
  --caption-sm: 14px;

  --btn-height: 45px;

  /* ================= RADIUS ================= */
  --radius-m: 16px;
  --radius-s: 12px;
  /* ================= HEIGHT ================= */
  --input-height: clamp(40px, 5vh, 50px);

  /* =================login page constants ============= */
  --form-max-width: 420px;
  --input-padding: 0 16px;
  --gap-sm: 12px;
  --gap-md: 16px;
  --gap-lg: 24px;
  /* =================main footer constants ============= */
  --bg-dark: #141405;
  --accent-yellow: #ffd700;
  --text-gray: #b5b5b5;
  --footer-bottom-bg: #0d0d04;
  /* =================product details constants ============= */
    --primary-500: #ffda00;
      --bg-gray: #f2f2f2;
      --bg-light: #f8f9fa;
      --text-dark: #333;
      --text-muted: #777;
      --text-main: #1a2b4b;
      --radius: 12px;

      /* customer orders */
      --light-yellow: #fff9db;
        --border-color: #e0e0e0;
        --text-dark: #1a1a1a;
        --text-muted: #757575;
        --bg-white: #ffffff;
        --white-color: #ffffff;
        --radius: 12px;
        /* =========settings========= */
  --bg-color: #f9f9f9;
  /* search */
  --bg-light: #f4f7f6;
    --card-bg: #fffdf2;
    /* perming */
    /* Change the checked (selected) background and border color to green */
      --p-radiobutton-checked-background: var(--primary-500) !important;
      /* Green background when checked */
      --p-radiobutton-checked-border-color: var(--primary-500) !important;
      /* Green border when checked */

      /* Optionally, change hover colors */
      --p-radiobutton-checked-hover-background: var(--primary-600) !important;
      --p-radiobutton-checked-hover-border-color: var(--primary-600) !important;

      --p-select-focus-border-color: var(--primary-500) !important;
      --p-select-option-selected-background:var(--primary-100) !important;
      --p-select-option-selected-color:var(--primary-700) !important;

      --p-select-option-selected-focus-background:var(--primary-100) !important;
      --p-select-option-selected-focus-color:var(--primary-700) !important;
      --p-inputtext-focus-border-color:var(--primary-500) !important;

      /* spinner */
      --primary-yellow: #ffda00;
        --navy-blue: #113c5d;
        --overlay-bg: rgba(255, 255, 255, 0.7);


        --hover-effect: #fffde7;

        /* paginator */
        --p-paginator-nav-button-selected-background:var(--primary-100) !important;
        --p-paginator-nav-button-selected-color:var(--primary-600) !important;
        --p-paginator-nav-button-focus-ring-color:var(--primary-500) !important;

        /* transition */
      --transition: all 0.3s ease;
      /* admin */
  --border-: #edf2f7;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

body,html{
  margin: 0;
  padding: 0;
}
body {
  font-size: var(--body-lg);
  color: var(--secondary-900);
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input,body{
    font-family: var(--font-family-base);
}

h1 {
  font-size: var(--h1-size);
  font-weight: 700;
}

h2 {
  font-size: var(--h2-size);
  font-weight: 700;
}

.subheading {
  font-size: var(--subheading-md);
  font-weight: 500;
}

.caption {
  font-size: var(--caption);
  font-weight: 500;
}

.input-box {
  height: var(--input-height);
}
button{
  height: var(--btn-height);
  font-family: var(--font-family-base);
}
/* ================= CUSTOM SCROLLBAR ================= */
/* .right-panel {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-900) transparent;
} */

/* Chrome, Edge, Safari */
.right-panel::-webkit-scrollbar {
  width: 7px;
}

.right-panel::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  margin: 30px 0;
}

.right-panel::-webkit-scrollbar-thumb {
  background-color: var(--secondary-950);
  border-radius: 10px;
  transition: background 0.3s;
}

.right-panel::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text-secondary);
}

.right-panel::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

@font-face {
  font-family: "Saudi-Riyal";
  src: url("/assets/fonts/Saudi-Riyal.ttf") format("truetype");
}
.sar-symbol {
  font-family: "Saudi-Riyal";
  font-size: inherit;
}

/* lucide icons */
lucide-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep lucide-icon svg {
  width: 100%;
  height: 100%;
}

/* premin slider */
.price-slider {
  width: 100%;
}

.price-slider.p-slider-horizontal {
  height: 6px;
  background: #e0e0e0;
  border-radius: 6px;
}

.price-slider .p-slider-range {
  background: #ffcf00;
}

.price-slider .p-slider-handle {
  width: 18px;
  height: 18px;
  background: #ffcf00;
  border-radius: 50%;
}

p-select{
  display: flex;
}
.modal-container::-webkit-scrollbar {
  width: 7px;
}
.modal-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  margin: 150px 0;
}
.modal-container::-webkit-scrollbar-thumb {
  background-color: var(--color-text-secondary);
  border-radius: 5px;
}
.modal-container::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}


