/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
:root {
  /* ================= PRIMARY ================= */
  --primary-50: #FFFBE5;
  --primary-100: #FFF6CC;
  --primary-200: #FFEE99;
  --primary-300: #FFE666;
  --primary-400: #FFDD33;
  --primary-500: #FFD502;
  --primary-600: #CCAA00;
  --primary-700: #998000;
  --primary-800: #665500;
  --primary-900: #332B00;
  --primary-950: #1A1500;

  /* ================= SECONDARY (BLUE) ================= */
  --secondary-50: #E9F3FC;
  --secondary-100: #D2E6F9;
  --secondary-200: #A5CDF3;
  --secondary-300: #79B4EC;
  --secondary-400: #4C9CE6;
  --secondary-500: #0E3B65;
  --secondary-600: #1969B3;
  --secondary-700: #134E86;
  --secondary-800: #0C345A;
  --secondary-900: #061A2D;
  --secondary-950: #030D16;

  /* ================= ERROR (RED) ================= */
  --error-50: #FEE8E7;
  --error-100: #FCD2CF;
  --error-200: #FAA49E;
  --error-300: #F7776E;
  --error-400: #F44A3E;
  --error-500: #F44336;
  --error-600: #C1170B;
  --error-700: #911108;
  --error-800: #610B05;
  --error-900: #300603;
  --error-950: #180301;

  /* ================= SUCCESS (GREEN) ================= */
  --success-50: #EAFAEB;
  --success-100: #D6F5D7;
  --success-200: #ACECAE;
  --success-300: #83E286;
  --success-400: #59D95E;
  --success-500: #34D039;
  --success-600: #26A62B;
  --success-700: #1D7C20;
  --success-800: #135315;
  --success-900: #0A290B;
  --success-950: #051505;

  /* ================= WARNING (YELLOW) ================= */
  --warning-50: #FFF8E5;
  --warning-100: #FFF1CC;
  --warning-200: #FFE299;
  --warning-300: #FFD466;
  --warning-400: #FFC533;
  --warning-500: #FFB700;
  --warning-600: #CC9200;
  --warning-700: #996E00;
  --warning-800: #664900;
  --warning-900: #332500;
  --warning-950: #1A1200;

  /* ================= TEXT COLORS ================= */
  --color-text-primary: #2c2c2c;
    --color-text-secondary: #4d4d4d;
    --text-light-gray: #666666;
    --text-lighter-gray: #999999;
    --border-gray: #e6e6e6;
    --color-text-black: #000000;
    --color-white: #ffffff;
  --bg-gray: #f2f2f2;

  --font-family-base: 'Tajawal', sans-serif;

    --h1-size: 48px;
    --h2-size: 40px;
    --subheading-lg: 32px;
    --subheading-md: 28px;

    --body-lg: 20px;
    --body-md: 18px;
    --caption: 16px;
    --caption-sm: 14px;

    --radius-m:16px;
    --radius-s:12px;

}

body,html{
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family-base);
  font-size: var(--body-lg);
  color: var(--secondary-900);
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: var(--h1-size);
  font-weight: 700;
}

h2 {
  font-size: var(--h2-size);
  font-weight: 700;
}

.subheading {
  font-size: var(--subheading-md);
  font-weight: 500;
}

.caption {
  font-size: var(--caption);
  font-weight: 500;
}


/* ================= CUSTOM SCROLLBAR ================= */
/* .right-panel {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-900) transparent;
} */

/* Chrome, Edge, Safari */
.right-panel::-webkit-scrollbar {
  width: 7px;
}

.right-panel::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  margin: 30px 0;
}

.right-panel::-webkit-scrollbar-thumb {
  background-color: var(--secondary-950);
  border-radius: 10px;
  transition: background 0.3s;
}

.right-panel::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text-secondary);
}

.right-panel::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
