/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Footer Base */
.main-footer {
  background-color: var(--primary-950);
  /* background-color: var(--bg-dark); */
  color: #ffffff;
  padding-top: 60px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Grid */
.footer-grid {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 0.8fr 0.8fr 1.5fr;
  gap: 30px;
  padding-bottom: 50px;
}

.footer-col h3 {
  font-size: 1.2rem;
  margin-bottom: 25px;
  font-weight: 700;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 12px;
}

.footer-col ul li a {
  color: var(--text-gray);
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.2s;
}

.footer-col ul li a:hover {
  color: var(--accent-yellow);
}

/* Brand */
.brand-col {
  text-align: right;
}

.footer-logo {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 100px;
  height: 100px;
}

.brand-desc {
  color: var(--text-gray);
  line-height: 1.8;
  font-size: 0.9rem;
  margin-bottom: 25px;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-links a {
  width: 40px;
  height: 40px;
  background-color: #000;
  color: var(--accent-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  text-decoration: none;
}

.social-links i-lucide {
  width: 18px;
  height: 18px;
}

/* App Badges */
.app-badges {
  background: rgba(255, 215, 0, 0.05);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #2a2a0a;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
}

.badge img {
  width: 100%;
  display: block;
}

/* Bottom */
.footer-bottom {
  background-color: var(--primary-900);
  padding: 20px 0;
  border-top: 1px solid #1e1e0a;
}

.bottom-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.bottom-links {
  display: flex;
  gap: 20px;
}

.bottom-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
}

.copyright {
  color: var(--text-gray);
  font-size: 0.85rem;
}

/* Responsive */
@media (max-width: 1024px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .brand-col {
    grid-column: span 2;
    order: -1;
  }
}

@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-logo,
  .social-links,
  .bottom-flex {
    justify-content: center;
  }

  .app-badges {
    margin: 0 auto;
  }

  .bottom-flex {
    flex-direction: column-reverse;
  }
}

/* Lucide default */
i-lucide {
  stroke-width: 1.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
