.supplier-card {
  width: 27%;
  min-width: 300px;
  scroll-snap-align: start;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.heart-btn {
  background: #e0e0e0;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #555;
  z-index: 100;
  /* Smooth transition for background and transform */
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .heart-btn:hover svg {
  color: #ff4d4d;
  transform: scale(1.1);
}

/* Class to apply when favorited */
::ng-deep .isfavorite svg {
  color: #ff4d4d;
  fill: #ff4d4d;
  /* Red color for the icon */
}

.image-placeholder {
  background: #e0e0e0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #bbb;
}

.image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  text-align: right;
  margin-bottom: 15px;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.phone-number {
  font-size: 14px;
  direction: ltr;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.phone-number i {
  color: var(--primary-500);
  transform: scaleX(-1);
}

.specialization-label {
  font-size: 12px;
  color: var(--text-gray);
  margin-top: 15px;
  display: block;
}

.specialization-tag {
  background: #fff;
  padding: 8px 15px;
  border-radius: 8px;
  display: inline-block;
  font-size: 13px;
  margin-top: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.go-btn {
  background-color: var(--primary-500);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  align-self: flex-end;
  cursor: pointer;
}

lucide-icon {
  display: inline-flex;
}

/* Phone icon RTL fix */
.phone-icon {
  color: var(--primary-yellow);
  transform: scaleX(-1);
}

/* Align icons nicely */
.heart-btn lucide-icon,
.go-btn lucide-icon,
.nav-btn lucide-icon {
  stroke: currentColor;
}
